<% include ../partials/head %>
<body>
    <% include ../partials/header %>
    <div class="container">There was an error in your authentification, please <a href="/login">log in</a>.</div>
    
</body>
</html>